/* TODO Add site wide styles */
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&family=Noto+Sans:wght@400;900&family=Roboto:wght@300;400&display=swap");

* {
  font-family: "Kanit", sans-serif;
}

a:visited {
  color: white;
}

body {
  height: 100%;
  background-image: linear-gradient(transparent, rgb(23, 26, 33));
  background-attachment: fixed;
  background-color: #050914;
}

.app-container {
  /* display: flex; */
  /* flex-direction: column; */
  /* width: 100%; */
}
